<div id="header">
  <h1>Immigration Document Upload App</h1>
  <img alt="Angular Logo" src="../assets/images/ImmDocsOnChain-logo-v1.png">
  <nav>
    <a class="btn btn-warning" routerLink="credentials" routerLinkActive="active">Credentials</a>
    <div class="space"></div>
    <a class="btn" routerLink="ds2019" routerLinkActive="active">DS-2019s</a>
    <div class="space"></div>
    <a class="btn" routerLink="i20" routerLinkActive="active">I-20s</a>
    <div class="space"></div>
    <a class="btn" routerLink="i94" routerLinkActive="active">I-94s</a>
    <div class="space"></div>
    <a class="btn" routerLink="passport" routerLinkActive="active">Passports</a>
    <div class="space"></div>
    <a class="btn" routerLink="sponsoredstudent" routerLinkActive="active">Sponsored Student Docs</a>
    <div class="space"></div>
    <a class="btn" routerLink="visa" routerLinkActive="active">Visas</a>
    <div class="space"></div>
    <a class="btn" routerLink="visa-stamp" routerLinkActive="active">Visa-Stamps</a>
    <div class="space"></div>
    <span class="ms-auto">
      <a class="btn btn-outline-primary" routerLink="login" routerLinkActive="active">Login</a>
      <a class="btn btn-outline-secondary" routerLink="register" routerLinkActive="active">Register</a>
    </span>
  </nav>
</div>
<router-outlet></router-outlet>
